<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list">
      <img src="img/ketogains_logo_transparent.png" class="logo">
    </div>
    <div class="list list-borderless card padding" style="text-align:center">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <button ng-click="lc.emailLogin(user)" class="button button-block button-energized activated">
        Sign In
      </button>
      <button class="button button-block button-positive icon-left ion-social-facebook" ng-click="lc.fbLogin()">
        Connect with Facebook
      </button>
    </div>
    <div class="list" style="text-align:center">
      <button ng-click="lc.modal.show()" class="button button-small button-outline icon-left ion-person-add button-positive">
        Create New Account
      </button>
    </div>
  </ion-content>
</ion-view>
