<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Create Account</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding" ng-controller="SignupModalCtrl">
    <div class="list">
      <form name="signupForm" ng-submit="signup(signupForm.$valid)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input name="email" type="email" class="form-control" placeholder="Email" required ng-model="email">
          </label>
          <!--<p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">Enter a valid email.</p>-->
        </div>
        <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input name="password"type="password" placeholder="Password" ng-minlength="6" required ng-model="password">
          </label>
          <!--<p ng-show="signupForm.password.$error.minlength" class="help-block">Password is too short. (6 characters min)</p>-->
        </div>
        <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
          <label class="item item-input item-floating-label">
            <span class="input-label">Re-type Password</span>
            <input name="confirm_password" type="password" placeholder="Re-type Password">
          </label>
          <button class="button button-full button-positive">Create New Account</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
