<ion-view view-title="Profile">
  <ion-nav-buttons side="secondary">
    <button class="button button-small button-calm" ng-click="saveProfile()">
      Save
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div class="item item-divider item-borderless">Unit of Weight</div>
      <ion-radio ng-model="profile.weightUnit" ng-value="'lbs'">Pounds</ion-radio>
      <ion-radio ng-model="profile.weightUnit" ng-value="'kg'">Kilograms</ion-radio>
      <div class="item item-divide"></div>
      <div class="item item-divider item-borderless">Body Composition</div>
      <label class="item item-input item-label">
        <span class="input-label">Weight ({{profile.weightUnit}})</span>
        <input type="number" placeholder="Enter Weight.." ng-model="profile.weight">
      </label>
      <div class="item item-divider"></div>
      <div class="item item-divider item-borderless">Body Fat {{profile.bodyFat}}%</div>
      <div class="item range">
        <i class="icon ion-ios-body-outline"></i>
        <input type="range" min="0" max="40" name="bodyfat" ng-model="profile.bodyFat">
        <i class="icon ion-ios-body"></i>
      </div>
      <button ng-click="openModal()" class="button button-block icon-right ion-help-circled button-calm bord">Help Estimate Body Fat %</button>
      <div class="item item-divider item-borderless"></div>
      <label class="item item-input item-select item-borderless">
        <div class="input-label">
          Activity Level
        </div>
        <select ng-model="profile.activityLevel" required="required"
                ng-options="option.value as option.name for option in activityLevelOptions">
        </select>
      </label>
    </ion-list>
  </ion-content>
</ion-view>
