<ion-view view-title="Progress">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        My Body Composition
      </div>
      <div class="item item-text-wrap">
        <canvas class="chart chart-line" chart-data="progressChart.data" chart-labels="progressChart.labels"
                chart-series="progressChart.series" chart-click="onClick"></canvas>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="entry in bodyCompEntries">
        {{entry.date}} - {{entry.weight}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
