<ion-view view-title="Profile">
  <ion-content>
    <ion-list>
      <div class="item item-divider">Unit of Weight</div>
      <ion-radio ng-model="pfc.profile.weightUnit" ng-value="'lbs'">Pounds</ion-radio>
      <ion-radio ng-model="pfc.profile.weightUnit" ng-value="'kg'">Kilograms</ion-radio>
      <div class="item item-divider">Body Composition</div>
      <label class="item item-input item-label">
        <span class="input-label">Weight ({{pfc.profile.weightUnit}})</span>
        <input type="number" placeholder="Enter Weight.." ng-model="pfc.weight">
      </label>
      <ion-toggle ng-model="pfc.profile.enableFriends">
          Enable Friends
      </ion-toggle>
      <div class="item range">
        <i class="icon ion-volume-low"></i>
        <input type="range" name="volume">
        <i class="icon ion-volume-high"></i>
      </div>
      <a class="button button-block icon-right ion-chevron-right button-calm">Help Estimate Body Fat %</a>
      <label class="item item-input item-select">
        <div class="input-label">
          Activity Level
        </div>
        <select>
          <option selected>Sedentary - Typical desk job / Sitting most of the day</option>
          <option>Lightly Active - Walking around a good amount, retail jobs</option>
          <option>Moderately Active - Walking constantly in a fast paced environment, waiting tables</option>
          <option>Vigorously Active - Very labor intensive, construction workers</option>
        </select>
      </label>
    </ion-list>
  </ion-content>
</ion-view>
